{% load markdown_deux_tags %}
<tr class="challenge-detail">
    <td colspan="3">
        <dl>
            {% if challenge.url %}
                <dt>URL</dt>
                <dd><a href="{{ challenge.url }}">{{ challenge.url }}</a></dd>
            {% endif %}
            {% if challenge.description %}
                <dt>Text</dt>
                <dd>{{ challenge.description|markdown }}</dd>
            {% endif %}
            {% if hints %}
                <dt>Hints</dt>
                <dd class="hints">
                    <ul>
                        {% for hint in challenge.hints.all %}
                            <li>{{ hint.text|markdown:"trusted" }}</li>
                        {% endfor %}
                    </ul>
                </dd>
            {% endif  %}
        </dl>
        <form action="{% url 'competitions.challenge_ajax' %}" method="post">

        </form>
</tr>