{% extends 'base.html' %}
{% load static %}
{% block title %}Competition - {{ comp.name }}{% endblock %}
{% block content %}
    <h1>{{ comp.name }} {% if comp.internal %}
        <small class="internal">(Internal)</small>{% else %}
        <small class="external">(External)
        </small>{% endif %}</h1>
    <nav class="breadcrumbs">
        <a href="/">Home</a>
        <a href="{% url 'competitions.competitions' %}">Competitions</a>
        <a class="current" href="#">{{ comp.name }}</a>
    </nav>
    <section>
        <h2 class="center">Challenges</h2>
        {% if challenges %}
            {% include 'competitions/challenges_table.html' %}
        {% else %}
            <p>nothing to hack :(</p>
        {% endif %}
    </section>
    <div class="detail-template">

    </div>
{% endblock %}
{% block extra_scripts %}
    <script src="{% static 'js/challenges.js' %}"></script>
{% endblock %}