{% extends 'base.html' %}
{% block title %}Competition - {{ comp.name }}{% endblock %}
{% block content %}
    <h1>{{ comp.name }}</h1>
    <section id="challenges">
        <h2>Challenges</h2>
        {% if challenges %}
            <ul>
                {% for challenge in challenges %}
                    <li><a href="#">{{ challenge.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>nothing to hack :(</p>
        {% endif %}
    </section>
{% endblock %}