{% extends 'base.html' %}
{% block title %}Competition - {{ comp.name }}{% endblock %}
{% block content %}
    <h1>{{ comp.name }} {% if comp.internal %}
        <small class="internal">(Internal)</small>{% else %}
        <small class="external">(External)
        </small>{% endif %}</h1>
    <section>
        <h2 class="center">Challenges</h2>
        {% if challenges %}
            <table id="challenges" class="clickable">
                <thead>
                <tr>
                    <th>name</th>
                    <th>category</th>
                    <th>points</th>
                    <th>solves</th>
                </tr>
                </thead>
                {% for challenge in challenges %}
                    <tr class="challenge" data-id="{{ challenge.id }}">
                        <td>{{ challenge.name }}</td>
                        <td>{{ challenge.category }}</td>
                        <td>{{ challenge.value }}</td>
                        <td>{{ challenge.num_solves }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>nothing to hack :(</p>
        {% endif %}
    </section>
    <div class="detail-template">

    </div>
{% endblock %}
{% block extra_scripts %}
    <script>
        $(document).ready(function () {
            $('.challenge').on('click', function (event) {
                event.preventDefault();
                var $this = $(this);
                var $nextElement = $this.next();
                if ($nextElement && $nextElement.hasClass('challenge-detail')) {
                    $nextElement.remove();
                }
                else {
                    var xhr = $.get("{% url 'competitions.challenge_ajax' %}", {'id': $this.data('id')});
                    xhr.done(function (html) {
                        var $html = $(html);
                        var $container = $html.find('.container');
                        $container.hide();
                        $this.after($html);
                        $container.fadeIn('fast');
                    });
                }
            });

            $('#challenges').on('submit', '.challenge-detail form', function (event) {
                event.preventDefault();
                var $target = $(event.target);
                var $xhr = $.post($target.attr('action'), $target.serialize());
                $xhr.done(function (response) {
                    alert(response);
                });
                $xhr.error(function (response) {
                    // extract the form...
                    var responseForm= $(response.responseText).find('form').html();
                    $target.parents('.challenge-detail').find('form').html(responseForm);
                });

            });
        });
    </script>
{% endblock %}