{% extends 'base.html' %}
{% block title %}Competitions{% endblock %}
{% block content %}
<section>
    <h1>Competitions</h1>
    {% include 'competitions/comps_table.html' %}
</section>
{% endblock %}
{% block extra_scripts %}
    <script>
        $(document).ready(function() {
            $('#competitions').find('tbody > tr').on('click', function(event) {
                event.preventDefault();
                window.location = $(this).data('href');
            });
        });
    </script>
{% endblock %}