/* page-specific stuff */
table.clickable > tbody tr {
    cursor: pointer;
}

#challenges {
    margin: auto;
    width: 100%;
}

table.clickable > tbody tr.challenge-detail {
    cursor: default;
}

table tr.challenge-detail {
    background: white;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}