* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(farthest-side ellipse at 10% 0, rgba(193, 179, 132, 0.87), rgba(184, 158, 111, 0.88), rgba(157, 134, 95, 0.88)), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjEwJSIgY3k9IjAiIHI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9InJnYmEoMTkzLCAxNzksIDEzMiwgMC44NykiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0icmdiYSgxODQsIDE1OCwgMTExLCAwLjg4KSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0icmdiYSgxNTcsIDEzNCwgOTUsIDAuODgpIi8+PC9yYWRpYWxHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4=") no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
}

nav, #content {
    margin-top: 80px;
}

nav {
    width: 160px;
    margin-left: 20px;
    line-height: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    background: white;

    box-shadow: 0 -1px 1px rgba(103,103,103,0.4),0 1px 1px rgba(103,103,103,0.4);
}

nav > ul {
    list-style: none;
    padding-left: 0
}

nav > ul a {
    color: #222;
    text-decoration: none;
}

nav > ul > li {
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
}

nav li > a {
    display: block;
}

nav > ul > li:hover, nav > ul > li:active {
    background: #eee;
}

#content {
    margin-left: 200px;
    color: #222;
}

h1 {
    color: white;
    box-shadow: 0 -1 1px 2px white;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

section {
    background: white;
    padding: 0.75rem;
    box-shadow: 0 -1px 1px rgba(103,103,103,0.4),0 1px 1px rgba(103,103,103,0.4);
    max-width: 90%;
}

section > header > h2 {
    margin-top: 0.8rem;
}

/* utility classes */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* page-specific stuff */

h1 > .internal, h1 > .external {
    font-size: 1.4rem;
    color: #777;
}

.login-row {
    text-align: right;
}

table > thead {
    background: #f5f5f5;
    font-weight: bold;
}

table > tbody tr {
    cursor: pointer;
}

table > tbody tr:nth-of-type(even) {
    background: #fafafa;
}

#challenges, #competitions {
    width: 500px;
}

#challenges {
    margin: auto;
}
