nav ul {
    list-style: none;
    padding: 0;
    font-size: 1.5em;
}
nav li:first-child:before {
    content: '';
}
nav li:before {
    content: ' | ';
}
nav li {
    display: inline-block;
}

/* utility classes */
.center {
    text-align: center;
}

.right {
    text-align: right;
}

/* page-specific stuff */

.login-row {
    text-align: right;
}

table > thead {
    background: #f5f5f5;
    font-weight: bold;
}

table > tbody tr {
    cursor: pointer;
}

table > tbody tr:nth-of-type(even) {
    background: #fafafa;
}

#challenges {
    width: 500px;
    margin: auto;
}
